#main-col {
  background-color: #E6E6E6;
  height: 1500px;
  
  table {
    width: 800px;
  }
  
  .step-col {
    width: 50px;
    text-align: center;
  }
  
  .a-col, .b-col, .c-col {
    width: 70px;
    text-align: center;
  }
  
  .client-col {
    width: 400px;
    text-align: center;
  }  
}

#opt-col {
  
}